<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/login.css">
    <title>login</title>
</head>
<body>
    <h1>войдите для продолжения</h1>
    <form method="post" class="login_form">
        <label>
            <input type="text" name="username" placeholder="имя пользователя" required>
        </label>
        <label>
            <input type="text" name="password" placeholder="пароль" required>
        </label>
        <button type="submit">войти</button>
    </form>


</body>
</html>